<div class="advise-wrapper">

<%= render "shared/header" %>

<!--相談ページトップ-->
<div class="advise-main-content advise-main-upper">
  <div class="advise-contribution">
    <div class="new-advise-btn">
        <%= link_to "相談を投稿する", new_advise_path, class: "advise_link btn" %>
      </div>

      <div class="advise-lists">
        <% @advises.each do |advise| %>
          <ul class="advise-text">
            <li><%= link_to advise.title, advise_path(advise), class: "advise2_link" %></li>
          </ul>
        <% end %>
      </div>
      <%= paginate @advises %>
    </div>

  </div>
</div>

<%= render "shared/footer" %>


</div>