<div class="header">
<p><%= breadcrumbs pretext: "You are here: ",
                                      separator: "&rsaquo;" %></p>
    <div class="nav">
      <ul>
        <li class="head-btn0"><%= link_to image_tag("main1.png", size: '320x110', class: "btn_link"), root_path %></li>
        <li class="head-btn2"><%= link_to "商品ページ", root_path, class:"btn_link" %></li>
        <li class="head-btn3"><%= link_to "相談ページ", advises_path, class:"btn_link" %></li>
        <% if user_signed_in? %>
          <li class="head-btn1"><%= link_to current_user.nickname, "/pics/#{current_user.id}", class:"btn_link" %></li>
          <li class="head-btn4"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn_link" %></li>
        <% else %>
          <li class="head-btn5"><%= link_to "ログイン", new_user_session_path, class: "btn_link" %></li>
          <li class= "head-btn6"><%= link_to "新規登録", new_user_registration_path, class: "btn_link" %></li>
        <% end %>
      </ul>
    </div>
  </div>