<div class="wrapper">

<%= render "shared/second_header" %>

<!--写真詳細ページ-->
<div class="album-each-content">
  <ul class="each-lists">
    <li class="eachlist">
        <div class="each-img-content">
          <%= image_tag @album.image, class: "each-img" if @album.image.attached? %>
        </div>
        <div class="each-info">
          <div class="each-title">
            <p><%= @album.created_at %></p>
            <h3><%= @album.title %></h3>
          </div>
          <div class="each-text">
            <div class="each-text">
              <p><%= @album.text %></p>
            </div>
            <div class="pic-likes">
                <ul class="like-content">
                  <% if current_user.liked_by?(@album.id) %>
                    <li>
                      <%= link_to destroy_like_path(@album), method: :delete, class: "like-link" do %>
                        <%= icon('far', 'kiss-wink-heart', 'いいね!!', class: 'like-part2') %>：<%= @album.likes.count %>
                      <% end %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to  create_like_path(@album), method: :post, class: "like-link" do %>
                        <%= icon('far', 'meh-blank', 'いいねを押す', class: 'like-part')  %>：<%= @album.likes.count %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% if user_signed_in? && current_user.id == @album.user.id %>
              <div class="each-btn">
                <div>
                <%= link_to "編集をする", edit_album_path(@album), class: "album-edit-btn btn" %>
                </div>
                <div class="album-bottom-btn">
                <%= link_to "削除をする",  album_path(@album), method: :delete, class: "album-delete-btn btn" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    </li>
  </ul>
</div>

<%= render "shared/second_footer" %>

</div>

